# Upstream Tools
[submodule "riscv-gnu-toolchain"]
    path = riscv-gnu-toolchain
    url = https://github.com/riscv/riscv-gnu-toolchain
    branch = master
    ignore = untracked
[submodule "riscv-opcodes"]
    path = riscv-opcodes
    url = https://github.com/riscv/riscv-opcodes.git
    branch = master
    ignore = untracked

# Upstream Benchmarks
[submodule "beebs"]
    path = beebs
    url = https://github.com/mageec/beebs
    branch = master
    ignore = untracked
[submodule "coremark"]
    path = coremark
    url = https://github.com/eembc/coremark
    branch = master
    ignore = untracked
[submodule "riscv-dv"]
    path = riscv-dv
    url = https://github.com/chipsalliance/riscv-dv
    branch = master
    ignore = untracked
[submodule "riscv-tests"]
    path = riscv-tests
    url = https://github.com/riscv/riscv-tests
    branch = master
    ignore = untracked

# BlackParrot Tool Forks
[submodule "dromajo"]
    path = dromajo
    url = https://github.com/bsg-external/dromajo
    branch = blackparrot_mods_1208
    ignore = untracked

# BlackParrot libraries
[submodule "perch"]
    path = perch
    url = https://github.com/black-parrot-sdk/perch
    branch = master
    ignore = untracked
[submodule "bedrock"]
    path = bedrock
    url = https://github.com/black-parrot-sdk/bedrock.git
    branch = master
    ignore = untracked
[submodule "bootrom"]
    path = bootrom
    url = https://github.com/black-parrot-sdk/bootrom
    branch = master
    ignore = untracked
[submodule "bp-tests"]
    path = bp-tests
    url = https://github.com/black-parrot-sdk/bp-tests
    branch = master
    ignore = untracked
[submodule "bp-demos"]
    path = bp-demos
    url = https://github.com/black-parrot-sdk/bp-demos
    branch = master
    ignore = untracked

# BlackParrot wrappers for benchmarks
[submodule "bp-spec2000"]
    path = spec2000
    url = https://github.com/black-parrot-sdk/spec2000
    branch = master
    ignore = untracked
[submodule "bp-spec2006"]
    path = spec2006
    url = https://github.com/black-parrot-sdk/spec2006.git
    branch = master
    ignore = untracked
[submodule "bp-spec2017"]
    path = spec2017
    url = https://github.com/black-parrot-sdk/spec2017.git
    branch = master
    ignore = untracked
[submodule "bp-riscv-arch-test"]
    path = riscv-arch-test
    url = https://github.com/black-parrot-sdk/bp-riscv-arch-test.git
    branch = master
    ignore = untracked

# BlackParrot wrappers for OSes
[submodule "bp-zephyr"]
    path = zephyr
    url = https://github.com/black-parrot-sdk/bp-zephyr
    branch = master
    ignore = untracked
[submodule "bp-linux"]
    path = linux
    url = https://github.com/black-parrot-sdk/bp-linux
    branch = master
    ignore = untracked
[submodule "bp-yocto"]
    path = yocto
    url = https://github.com/black-parrot-sdk/bp-yocto.git
    branch = master
    ignore = untracked

